body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

#map {
    width: 50%;
    height: 100%;
}

.story {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}
